

<div style="background-color: #4d4d56; width: 150px"> <h2><span style="color: #00b2f1; font-weight: bold;">&#160 //</span> <span style="color: white; font-family: sans-serif; font-weight: normal; ">Students</span></h2></div>

<ol>
<% @students.each do |student|%>


      <li><a href="/students/<%= student.id%>">
    <%= student.name %></li>
      <%end%>
  </ol>


<a href= "/students/new">Create Student</a>

  
  