<h1 style="color: 4d4d56; font-family: sans-serif"><span style="color: #00b5ec ">//</span> <span style="color: #4d4d56">Sign up for Flatiron School!</span></h1>

<div>
<form action="/students" method="POST">
    <label for="name" style = "text-aligh: center;">Name : </label>
    <input type="text" name="name">
    <input type="submit" name="Submit">
    
    <% Teacher.all.each do |teacher| %>
    <p><input type="checkbox" id="<%=teacher.id %>" name="teacher[id][]" value="<%=teacher.id %>"> <span style="font-size: 20px; font-family: sans-serif"> <%=teacher.subject %></span>  <span style="color: #00b5ec">with <%=teacher.name %></span>

    <% end %>
    
</form>
</div>