<form action="/teachers" method ="post">
<p style="color:blue;font-family:Arial;">Enter Teacher Name:

<p><input type="text" name="new[name]">
<p style="color:blue;font-family:Arial;">Enter The Subject You Will Teach
<p><input type="text" name="new[subject]">
<p><input type="submit" name="Join Flatiron">
</form>