<p><%= @teacher.name%>

<div style="padding: 5px">
    <form action="/teachers/<%= @teacher.id %>" method= "POST">
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" value="Quit Flatiron">
    </form>
</div>