<h1 style = "background-color: lightblue;"> Create a new Cohort</h1>


<div style="background-color:Gray;">
<form action="/cohorts" method="POST">
    <label for="name" style = "text-aligh: center;">Name: </label>
    <input type="text" name="name">
    <input type="submit" name="Submit">
</form>
</div>