<!DOCTYPE html>
    <header> 
        <title style = text-align: center;>About Our App</title>
    </header>

    <body style = background-color: powderblue;>
        <h1 style="color:red;"> Our Student, Teacher, Cohorts App</h1>
            <p> 
                The purpose of our app is to create a relationship using the many-to-many relationship between
                our Students and Teahers, while also using a join table of Cohorts. 
            </p>
    </body>









</html>