
        <h1 style="color: 4d4d56; font-family: sans-serif"><span style="color: #00b5ec ">//</span> <span style="color: #4d4d56">Our Student, Teacher, Cohorts App</span></h1>
            <p style="font-family: san-serif; font-size: 20px; width: 60%;"> 
               <P style="color:red; font-size:300%; text-align:center;"> The purpose of our app is to create a relationship using the many-to-many relationship between
                our Students and Teachers, while also using a join table of Cohorts.</p>
          